<!DOCTYPE html>
<html>

<body>

    {% extends "layout.html" %}
    {% block content %}
    <div class="about">
        <h1>Hello,</h1>
		<p>This is a WIP website that interfaces an audio converter and my project for ICT 12</p>
		<p>The ffmpeg library is used for conversion. The backend is built with python and flask with some occasional javascript for dynamic elements.</p>
		<p>I will be improving this more later on, but this is what I have so far.</p>
        <a id="githubIcon" href="https://github.com/CNajm/flask-ffmpeg-mediaconverter">
            <i class="fa fa-github fa-3x"></i>
        </a>
		<hr style="border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
		<i>Thank you,</i>
		<br>
		<i style="text-decoration:underline;">Charbel</i>
    </div>
    {% endblock %}

</body>

</html>
